@model IEnumerable<BodyCheckWebAPI.Models.BodyCheckViewModel>
@using System.Reflection
@using System.ComponentModel
@{
    ViewData["Title"] = "List Body Check Records";
}
<h1>Index</h1>
<h4>@ViewData["Title"]</h4>
<a asp-controller="BodyCheck" asp-action="Create" class="btn btn-primary float-end my-2">Add Body Check Record</a>
<table class="table">
    <tr>
        @foreach (var property in typeof(BodyCheckWebAPI.Models.BodyCheckViewModel).GetProperties())
        {
            <th>
                @(property.GetCustomAttributes(typeof(DisplayNameAttribute), false)
                            .Cast<DisplayNameAttribute>()
                            .FirstOrDefault()?.DisplayName ?? property.Name)
        </th>
                }
        <th>[Action]</th>
    </tr>
    @foreach (var bodyCheck in Model)
    {
        <tr>
            <td>@bodyCheck.Id</td>
            <td>@bodyCheck.StudentId</td>
            <td>@bodyCheck.Firstname</td>
            <td>@bodyCheck.Lastname</td>
            <td>@bodyCheck.HeightCm</td>
            <td>@bodyCheck.WeightKg</td>
            <td>
                <a asp-controller="BodyCheck" asp-action="Edit" asp-route-id="@bodyCheck.Id"
                    class="btn btn-info text-white">Edit</a>
                <a asp-controller="BodyCheck" asp-action="Delete" asp-route-id="@bodyCheck.Id"
                    class="btn btn-danger text-white">Delete</a>
            </td>
        </tr>
    }
</table>